<h1 class="text-center py-4"> Frequently asked quetion </h1>

<% flag1 = false %>
<% flag2 = false %>
<% flag3 = false %>
<% flag4 = false %>
<% flag5 = false %>

<div class="container mt-5">
  <div class="card mb-3 bg-dark text-white">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#question1">
          What is that?
        </button>
      </h5>
    </div>
    <div id="question1" class="collapse">
      <div class="card-body">
        lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>

  <div class="card mb-3 bg-dark text-white">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#question2">
          Why we use it?
        </button>
      </h5>
    </div>
    <div id="question2" class="collapse">
      <div class="card-body">
        lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
  <div class="card mb-3 bg-dark text-white">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#question3">
          How to use it?
        </button>
      </h5>
    </div>
    <div id="question3" class="collapse">
      <div class="card-body">
        lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
  <div class="card mb-3 bg-dark text-white">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#question4">
          When to use it?
        </button>
      </h5>
    </div>
    <div id="question4" class="collapse">
      <div class="card-body">
        lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
  <div class="card mb-3 bg-dark text-white">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link text-white" data-bs-toggle="collapse" data-bs-target="#question5">
          Where to use it?
        </button>
      </h5>
    </div>
    <div id="question5" class="collapse">
      <div class="card-body">
        lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
</div>
