<h1 class="text-center py-4">About page</h1>

<br> <br>
<br> <br>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <h4>Rently Coimbatore</h4>
            <br>
            <p style="text-align: justify; margin-right: 5px;">
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <br>
            <p style="text-align: justify; margin-right: 5px;">
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="col-md-6">
            <%= image_tag(asset_path("rently_covai.jpg"), alt: "Rently office", class: "d-block w-100 h-100") %>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <%= image_tag(asset_path("rently_pune.jpg"), alt: "Rently office", class: "d-block w-100 h-100") %>
        </div>
         <div class="col-md-6 text-center">
            <h4>Rently Pune</h4>
            <br>
            <p style="text-align: justify; margin-left: 5px;">
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <br>
            <p style="text-align: justify; margin-left: 5px;">
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                lorem ispum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>

</div> 